<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest-Assured">
  <test name="Testing">
    <classes>
      <class name ="com.restAssured.test.ApiKeyResponse"/>
      <class name ="com.restAssured.test.NoAuthApiResponse"/>
      <class name ="com.restAssured.test.BearerTokenResponse"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

